*{
	margin: 0;
	padding: 0;
}
html{
    background:url(/img/bg.jpg) no-repeat center center fixed; 
    background-size: cover;
}
body{
    width: 100%;
    height: 100%;
    color: #fff;
}
.title {
    margin-top: 30%;
    font-size: 5em;
    background: rgba(0,0,0,0.7);
}
.value-box span{
    font-size: 4em;
    padding: 5px;
    background: rgba(0,0,0,0.7);
}
.button-group{
    margin-top: 20px;
    background: rgba(0,0,0,0.7);
}